@(title: String, user: User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
    
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
	    <div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="/">@title</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li id="hops-link"><a href="/hops">Hops</a></li>
	              <li><a href="/brew">Brew</a></li>
	              
	            </ul>
	            @if(user != null) {
	            	<div class="pull-right"><span class="muted" style="padding-right: 10px">@user.firstName @user.lastName <small>(@user.email)</small></span><a class="btn" href="@routes.Application.logout()">Logout</a></div>
	          	}
	          </div><!--/.nav-collapse -->
	          
	        </div>
	        
	      </div>
	    </div>
	    <div class="container">
			@content
	    </div>
	    
	<hr>

	<footer>
		<p class="text-center">© Beerfermation 2013</p>
	</footer>
    </body>
</html>
